body
 {
 	background-image:url(https://i.loli.net/2020/03/20/OwStN6kA3Fyjv9C.png);
 	background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
 }

.big{
	text-align: center;
	font-size: 75px;
	letter-spacing: 20px;
	color: #f40;
}
.small{
	text-align: center;
	font-size: 35px;
	letter-spacing: 3px;
	padding: 10px;
	color: #000;
}
#menu{
	margin: 0;
	padding: 0;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 60px;
  }
  #menu li{
  list-style: none;
  display: inline-block;
  }
  #menu li a{
	text-decoration: none;
	position: relative;
	color: white;
	font-size: 30px;
	font-weight: 700;
	font-family:sans-serif;
	display: block;
	overflow: hidden;
	transition: 0.7s all;
	padding: 14px 50px;
	text-transform: uppercase;
  }
  #menu li a:before{
	content: "";
	width: 30px;
  
	position: absolute;
	border-bottom: 8px solid white;
	bottom: 0;
	right: 350px;
	transition: 0.7s all;
  }
  #menu li a:hover:before{
	right: 0;
  }