body
 {
 	background-image:url(https://i.loli.net/2020/03/20/OwStN6kA3Fyjv9C.png);
 	background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
 }

.big{
	text-align: center;
	font-size: 75px;
	letter-spacing: 20px;
	color: #f40;
}
.small{
	text-align: center;
	font-size: 35px;
	letter-spacing: 3px;
	padding: 10px;
	color: #000;
}
