body{
	text-align: center;
}
p{
	letter-spacing: 5px;
	font-size: 50px;
	text-align: center;
	padding-left: 100px;
}
 #btn1 ul{
	margin: 0;
	display: flex;
	padding: 0;
	border:  1px solid #262626;
	width: 250px;
	height: 35px;
	margin-left: 50%;
}
 #btn1 ul li{
	list-style: none;

}
 #btn1 ul li a{
	position: relative;
	display: block;
	width: 120px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #262626;
	text-transform: uppercase;
	text-decoration: none;
	font-family: verdana;
	letter-spacing: 2px;
	overflow: hidden;
	transition:  .5s;

}

 #btn1 ul li a:before{
	content: " ";
	position: absolute;
	top: 0;
	width: 100%;
	height:100%;
	background: #262626;
	z-index:  -1;
	transition:  0.5s;
	opacity: 0.5;

}
 #btn1 ul li:nth-child(odd) a:before
{
	right: -100%;
}
 #btn1 ul li:nth-child(even) a:before
{
	left: -100%;
}
 #btn1 ul li:nth-child(odd) a:hover:before
{
	right: 0%;
}
 #btn1 ul li:nth-child(even) a:hover:before
{
	left: 0%;
}

#count{
	padding-left: 5px;
	padding-right: 5px;
	font-size: 50px;
	color: white;
	
}
#count:hover{
	color: black;
}
p .head {
	text-align: center;
	font-size: 50px;
	letter-spacing: 10px;
}
.text {
	text-align: center;
	font-size: 25px;

}
div .img-ct{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
#menu{
  margin: 0;
  padding: 0;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 60px;
}
#menu li{
list-style: none;
display: inline-block;
}
#menu li a{
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 30px;
  font-weight: 700;
  font-family:sans-serif;
  display: block;
  overflow: hidden;
  transition: 0.7s all;
  padding: 14px 50px;
  text-transform: uppercase;
}
#menu li a:before{
  content: "";
  width: 30px;

  position: absolute;
  border-bottom: 8px solid white;
  bottom: 0;
  right: 350px;
  transition: 0.7s all;
}
#menu li a:hover:before{
  right: 0;
}